.stackPage {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.stackPage__form {
  display: flex;
  gap: 20px;
  justify-content: center;
}

.stackPage__stack {
  list-style: none;
  margin: 48px 0 0;
  display: flex;
  gap: 16px;
}